DATE: 2026-01-18
AUTHOR: Noel Saw
STATUS: P1

Test on Local Dev after major refactoring

Graph too tall - hide/comment out
Focus on Table